/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <7 8 9>;
            layers = <0>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <2 3>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <7 8>;
        };

        Iock {
            bindings = <&kp K_LOCK>;
            key-positions = <17 18>;
        };

        equals {
            bindings = <&kp EQUAL>;
            key-positions = <30 31>;
        };
    };

    macros {
        empty: empty {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "EMPTY";
        };
    };

    behaviors {
        Hold_tap_left: Hold_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <39 40 41 19 20 21 6 7 9 8 10 11 23 22 18 30 32 31 33 34 35>;
            hold-while-undecided;
        };

        Hold_tap_right: Hold_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <15 16 36 37 38 5 4 3 2 1 0 12 13 14 17 24 25 27 26 28 29>;
            hold-while-undecided;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none      &kp B  &kp L                  &kp D                        &kp W                   &kp Z          &kp SINGLE_QUOTE  &kp F                    &kp O                        &kp U                        &kp J     &kp SEMICOLON
&none      &kp N  &Hold_tap_left LGUI R  &Hold_tap_left LEFT_ALT T    &Hold_tap_left LCTRL S  &kp G          &kp Y             &Hold_tap_right RCTRL H  &Hold_tap_right RIGHT_ALT A  &Hold_tap_right RIGHT_GUI E  &kp I     &kp COMMA
&lt 3 TAB  &kp Q  &kp X                  &kp M                        &kp C                   &kp V          &kp K             &kp P                    &kp PERIOD                   &kp MINUS                    &kp FSLH  &kp EXCLAMATION
                                         &mt LC(LS(LA(LGUI))) ESCAPE  &kp BACKSPACE           &lt 1 SPACE    &lt 2 ENTER       &kp RIGHT_SHIFT          &kp Q
            >;
        };

        FUNC {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5                  &trans  &trans        &trans          &trans        &trans     &kp BSPC
&none  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10                 &trans  &kp LEFT      &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&none  &kp F11  &kp F12  &trans  &trans  &kp LG(LS(NUMBER_4))    &trans  &kp LA(LEFT)  &kp LA(RIGHT)   &trans        &trans     &trans
                         &trans  &trans  &trans                  &trans  &trans        &trans
            >;
        };

        SYMB {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &kp EXCL     &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE         &kp PLUS   &kp N7        &kp N8        &kp N9        &kp ASTERISK   &none
&trans     &kp HASH     &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE        &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SEMICOLON  &none
&kp LSHFT  &kp PERCENT  &kp CARET   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp AMPERSAND    &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUBS       &none
                                    &trans                &trans                 &trans           &trans     &trans        &kp N0
            >;
        };

        WIN {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LA(LS(KP_NUMBER_7))  &kp LS(LA(KP_NUMBER_8))  &kp LA(LS(KP_NUMBER_9))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LA(LS(KP_NUMBER_4))  &kp LS(LA(KP_NUMBER_5))  &kp LA(LS(KP_NUMBER_6))  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LA(LS(KP_NUMBER_1))  &kp LA(LS(KP_NUMBER_2))  &kp LA(LS(KP_NUMBER_3))  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans                   &trans
            >;
        };
    };
};
